{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1 class="text-center menu-heading">Menu</h1>

    <!-- Starter Category -->
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2 class="category-heading">Starter</h2>
        </div>
        {% for dish in starter_dishes %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <input type="checkbox" name="selected_dishes" value="{{ dish.id }}" class="form-check-input">
                </div>
                <img src="{{ dish.image.url }}" alt="{{ dish.name }}" class="card-img-top">
                <div class="card-body text-center">
                    <h3 class="card-title">{{ dish.name }}</h3>
                    <p class="card-text d-none d-md-block">{{ dish.description }}</p>
                    <p class="card-text price">Price: ${{ dish.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Main Course Category -->
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2 class="category-heading">Main Course</h2>
        </div>
        {% for dish in main_course_dishes %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <input type="checkbox" name="selected_dishes" value="{{ dish.id }}" class="form-check-input">
                </div>
                <img src="{{ dish.image.url }}" alt="{{ dish.name }}" class="card-img-top">
                <div class="card-body text-center">
                    <h3 class="card-title">{{ dish.name }}</h3>
                    <p class="card-text d-none d-md-block">{{ dish.description }}</p>
                    <p class="card-text price">Price: ${{ dish.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Dessert Category -->
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2 class="category-heading">Dessert</h2>
        </div>
        {% for dish in dessert_dishes %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <input type="checkbox" name="selected_dishes" value="{{ dish.id }}" class="form-check-input">
                </div>
                <img src="{{ dish.image.url }}" alt="{{ dish.name }}" class="card-img-top">
                <div class="card-body text-center">
                    <h3 class="card-title">{{ dish.name }}</h3>
                    <p class="card-text d-none d-md-block">{{ dish.description }}</p>
                    <p class="card-text price">Price: ${{ dish.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Drink Category -->
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2 class="category-heading">Drink</h2>
        </div>
        {% for dish in drink_dishes %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <input type="checkbox" name="selected_dishes" value="{{ dish.id }}" class="form-check-input">
                </div>
                <img src="{{ dish.image.url }}" alt="{{ dish.name }}" class="card-img-top">
                <div class="card-body text-center">
                    <h3 class="card-title">{{ dish.name }}</h3>
                    <p class="card-text d-none d-md-block">{{ dish.description }}</p>
                    <p class="card-text price">Price: ${{ dish.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center mb-4">
        <input type="submit" value="Place Order" class="btn btn-primary" id="custom-btn">
    </div>  
</div>

{% endblock %}
